body{
    background-color:rgb(56, 12, 10);
}
.jumbotron{
    height: 700px;
}
button{
    width:200px;
}
.btnContainer{
    padding:200px;
}
.question{
    font-size: 100px;
}
.timeRemaining{
    font-size: 20px;
}